<div class="container">
  <div class="col-md-8">
    <!-- custom upload file button -->
    <div class="col-md-1 float-right">
      <label class="btn btn-primary" for="file-upload">Upload file</label>
      <input type="file" id="file-upload" />
    </div>
    <header><h2>Product list</h2></header>

    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>

            <th>Product name</th>

            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <a href="#">{{ product.id }}</a>
            </td>

            <td>{{ product.name }}</td>

            <td>{{ product.description }}</td>
            <td><button class="btn btn-primary">Update</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
